.error--page {
  background: #2F3242;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

}

svg {
  margin-top: 3em;
  display: block;
  margin: 0 auto;
  height: 100%;
}



.message-box {
  height: 200px;
  width: 380px;
  position: absolute;
  top: 50%;
  left: 25%;
  color: #FFF;
  font-weight: 300;
}

.message-box h1 {
  font-size: 60px;
  line-height: 46px;
  margin-bottom: 40px;
}

.buttons-con .action-link-wrap {
  margin-top: 40px;
}

.buttons-con .action-link-wrap a {
  background: #F5A71C;
  padding: 8px 25px;
  border-radius: 4px;
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px
}

.buttons-con .action-link-wrap a:hover {
  background: #5A5C6C;
  color: #fff;
}

#Polygon-1,
#Polygon-2,
#Polygon-3,
#Polygon-4,
#Polygon-4,
#Polygon-5 {
  -webkit-animation: float 1s infinite ease-in-out alternate;
  animation: float 1s infinite ease-in-out alternate;
}

#Polygon-2 {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

#Polygon-3 {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

#Polygon-4 {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}

#Polygon-5 {
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}

@-webkit-keyframes float {
  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@keyframes float {
  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@media (max-width: 750px) {


    .error--page {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: scroll;
      
      }
      .message-box {
          text-align: center;
          margin: 2em auto;
          left: 0;
      }

}
