<section>
  <div class="container">

    <div class="col-lg-12 col-12 text-center mb-5">
      <div class="sction-title title-line">
        <h2 class="mt-3 text-capitalize h1">our audiences </h2>
      </div>
    </div>
    
    <div class="row">
      <!------ start Business Partner ------>
      <div class="our-audiences">
        <div class="container">
          <div class="row">

            <!--start IT Executives box -->
            <div class="col-lg-4 col-md-6 col-12 our-audiences-box">
              <div class="class-thumb">
                <img src="/assets/images/ourAudiences/ITExecutives.jpg" class="img-fluid" alt="box">

                <div class="our-audiences-info">
                  <h3 class="mb-1 text-capitalize">IT executive</h3>
                  <a class="nav-link" [hidden]="islog" routerLink="LogIn"> <span class="our-audiences-btn">login</span></a>

                  <p class="mt-3 our-audiences-des">Learn, Engage, Submit your needs and Receive customized “Emerging
                    Technologies
                    Proposals” automatically</p>

                  <a routerLink="CustomersPage"> I need to know more… </a>

                </div>
              </div>
            </div>
            <!--End IT Executives box -->

            <!--start IT vendor box -->
            <div class="col-lg-4 col-md-6 col-12 our-audiences-box">
              <div class="class-thumb">
                <img src="/assets/images/ourAudiences/IT Vendor.jpg" class="img-fluid" alt="box">

                <div class="our-audiences-info">
                  <h3 class="mb-1 text-capitalize">IT vendor</h3>

                  <a class="nav-link" [hidden]="islog" routerLink="LogIn"> <span class="our-audiences-btn">login</span></a>

                  <p class="mt-3 our-audiences-des">Generate business for your company, the platform automatically
                    brings
                    “Customer Needs” from global customers to you.</p>

                  <a routerLink="VendorsPage"> I need to know more… </a>

                </div>
              </div>
            </div>
            <!--End IT vendor box -->

            <!--start Business Partner box -->
            <div class="col-lg-4 col-md-6 col-12 our-audiences-box">
              <div class="class-thumb">
                <img src="/assets/images/ourAudiences/Business Partner.jpg" class="img-fluid" alt="box">

                <div class="our-audiences-info">
                  <h3 class="mb-1 text-capitalize">business partner</h3>

                  <a class="nav-link" [hidden]="islog" routerLink="LogIn"> <span class="our-audiences-btn">login</span></a>

                  <p class="mt-3 our-audiences-des">Engage with new customers, new vendors, grow your revenues, expand
                    your market and empower your company.</p>

                  <a routerLink="BusinessPartersPage"> I need to know more… </a>

                </div>
              </div>
            </div>
            <!--End Business Partner box -->

            <!--start Marketing Partner box -->
            <div class="col-lg-4 col-md-6 col-12 our-audiences-box">
              <div class="class-thumb">
                <img src="/assets/images/ourAudiences/Consultant.jpg" class="img-fluid" alt="box">

                <div class="our-audiences-info">
                  <h3 class="mb-1 text-capitalize">marketing partner</h3>

                  <a class="nav-link" [hidden]="islog" routerLink="LogIn"> <span class="our-audiences-btn">login</span></a>

                  <p class="mt-3 our-audiences-des">Be part of “Tazia” team, engage and contribute with our success </p>

                  <a routerLink="ConsultantPage"> I need to know more… </a>

                </div>
              </div>
            </div>
            <!--End Marketing Partner box -->

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
