<app-navbar></app-navbar>
<app-breadcrumb></app-breadcrumb>
<div class="sub-pageHeader">
  <h2 class="h1">
    <span>
      LET’S TALK BUSINESS
    </span>
    Business Parters   </h2>

</div>
<div class="container">

  <div class="sub-pagedescription text-center mt-5">
    <p class="lead">“Tazia” digital platform serves to generate business for your company, automatically brings “Customers Needs” from global diversified customers into your smart phone, take it, expand your market and grow your business with minimum investment.</p>
    <p class="lead">“Tazia” platform works with “Emerging Technologies”, we target to learn and inspire our customers with our innovative technologies.</p>
    <p class="lead">“Tazia” platform planned would include thousands of valuable large customers that you will be able to connect with in addition to business partners and consultants from all the world, all of them are well reviewed and selected carefully according to pre-set criteria to guarantee a minimum level of quality of our business.</p>
    <p class="lead">We are building a global network of “Marketing Partners”, who are working closely to invite and manage our customers selection, evaluation, registration and operation, so we can provide a high quality of service to our vendors.</p>
</div>
</div>

<app-servicesd> </app-servicesd>

<div class="subPage-body">
  <div class="container">
      <h2 class="h1">In a smart way, minimize your growth challenges: </h2>
    <p class="lead"> Participating in local and international exhibitions.</p>
    <p class="lead">Recruiting high experienced sales team.</p>
    <p class="lead">Running high cost digital marketing campaigns.</p>
    <p class="lead">Developing new business partners locally and globally.</p>


    <h2 class="h1 mt-4">Our platform will be your hand to:</h2>

    <p>Develop new customers.</p>
    <p>Engage new IT vendors.</p>
    <p>Develop new consultants.</p>
    <p>Develop new global markets.</p>

  </div>
</div>
<app-footer></app-footer>