<app-navbar></app-navbar>
<app-breadcrumb></app-breadcrumb>
<div class="sub-pageHeader">
  <h2 class="h1">
    <span>
      LET’S TALK BUSINESS
    </span>
    Consultant </h2>

</div>
<div class="container">

  <div class="sub-pagedescription text-center mt-5">
    <p class="lead">“Tazia” platform welcome experienced IT consultants to be part of its system, they will have the opportunity to search for valuable customers, business partners and IT vendors based on matching experience of the consultant and business needs, they will be able to engage, collaborate and help customers from local and global markets to achieve their business needs and requirements.</p>
</div>
</div>
<app-footer></app-footer>