<div class="slider">

  <div id="main-slider" class="carousel banner slide" data-ride="carousel">

    <div class="carousel-inner">
      <div class="overlay"></div>
      <div class="carousel-item active  carousel--one">
        <div class="carousel-caption d-md-block">
          <h2 class="h1 text">Best Top Systems for Integrated Solutions</h2>
          <div class="slide-des">
            <p>e-Invoice HUB
            </p>
          </div>
          <!-- <a  class="btn btn-warning mt-4" routerLink="HowItWork"> tell me more</a> -->
        </div>
      </div>
      <div class="carousel-item carousel--two">
        <div class="carousel-caption d-md-block">
          <h2 class="h1 text">Best Top Systems for Integrated Solutions</h2>
          <div class="slide-des">
            <p>e-Invoice HUB
            </p>
          </div>
         <!--  <a class="btn btn-warning mt-4" routerLink="HowItWork">tell me more</a>--> 

        </div>
      </div>
      <div class="carousel-item carousel--three">
        <div class="carousel-caption d-md-block">
          <h2 class="h1 text">Best Top Systems for Integrated Solutions</h2>
          <div class="slide-des">
            <p>e-Invoice HUB
            </p>
          </div>
         <!--  <a class="btn btn-warning mt-4" routerLink="HowItWork">tell me more</a>--> 

      </div>
    </div>

    <ol class="carousel-indicators">
      <li data-target="#main-slider" data-slide-to="0" class="active"></li>
      <li data-target="#main-slider" data-slide-to="1"></li>
      <li data-target="#main-slider" data-slide-to="2"></li>
    </ol>


  </div>
</div>

<!-- end slider -->