
<div class="container">

    <div class="breadcrumb--container">
            
        <ul class="breadcrumb">
            
            <div class="home-icon"><a routerLink="" class="fa fa-home"></a></div>
            
            <div class="breadcrumb--links">
    
                <li><a href="#">Home</a></li>
                <li><a href="#">link 1</a></li>
                <li><a href="#">link1</a></li>
                <li class="breadcrumb--active">Data</li>
                
            </div>
        </ul>
        
    </div>
    </div>
    