<section class="mt-5">
  <div class="container">

    <!--start section header -->
    <div class="row">
      <div class="col-lg-12">
        <div class="technologies--heading text-center title-line sction-title">
          <h2 class="h1 mt-3 text-capitalize "> our services </h2>
        </div>
        <div class="services-des mt-3 mb-5">
          Tazia “Tomorrow Customer Needs” Platform For Emerging Technologies
          Easily learn and identify your “Emerging Technologies” needs and automatically get global customized proposals
          for your company into your smart phone, learn more ipsum dolor sit amet, consectetur adipisicing elit. Animi
          beatae consectetur ratione? Minima iste,
          excepturi amet consequatur tempore deserunt accusantium quo delectus quasi? Ullam neque sed odit, vitae ipsa
          itaque
        </div>
      </div>
    </div>
    <!--End section header -->

    <div class="row">

      <!-- card 1 -->

      <div class="col-lg-6">
        <div class="accordion mb-3 shadow-sm shadow-sm" id="accordionone">

          <div class="card ">
            <div class="card-header" id="headingOne">
              <h2>
                <button class="btn btn-link btn-block text-left collapsed technologies " type="button"
                  data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">

                  <div class="technology--icon">
                    <i class="fas fa-shield-virus"></i> </div>

                  <h5> cyber security </h5>

                  <div class="technologies-chevron-down ">
                    <i class="fa fa-chevron-down "></i>
                  </div>

                </button>
              </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionone">
              <div class="card-body">
                <ul class="list-unstyled">
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                </ul>
              </div>
            </div>

          </div>
        </div>


      </div> <!-- card 1 -->




      <!-- card 2 -->
      <div class="col-lg-6">

        <div class="accordion mb-3 shadow-sm" id="accordionTwo">

          <div class="card ">
            <div class="card-header" id="headingTwo">
              <h2>
                <button class="btn btn-link btn-block text-left collapsed technologies " type="button"
                  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">

                  <div class="technology--icon">
                    <!-- <i class="fas fa-brain"></i> -->
                    <i class="fas fa-pastafarianism"></i>
                   </div>

                  <h5> Artificial Intelligence </h5>

                  <div class="technologies-chevron-down ">
                    <i class="fa fa-chevron-down "></i>
                  </div>

                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionTwo">
              <div class="card-body">
                <ul class="list-unstyled">
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                </ul>
              </div>
            </div>

          </div>
        </div>


      </div> <!-- card 2 -->



      <!-- card 3 Augmented Reality -->
      <div class="col-lg-6">

        <div class="accordion mb-3 shadow-sm" id="accordionAugmented">

          <div class="card ">
            <div class="card-header" id="headingAugmented">
              <h2>
                <button class="btn btn-link btn-block text-left collapsed technologies " type="button"
                  data-toggle="collapse" data-target="#collapseAugmented" aria-expanded="false"
                  aria-controls="collapseAugmented">

                  <div class="technology--icon">
                    <i class="fas fa-vr-cardboard"></i> 
                  </div>

                  <h5> Augmented Reality </h5>

                  <div class="technologies-chevron-down ">
                    <i class="fa fa-chevron-down "></i>
                  </div>

                </button>
              </h2>
            </div>
            <div id="collapseAugmented" class="collapse" aria-labelledby="headingAugmented"
              data-parent="#accordionAugmented">
              <div class="card-body">
                <ul class="list-unstyled">
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                </ul>
              </div>
            </div>

          </div>
        </div>


      </div> <!-- card 3 Augmented Reality -->


      <!-- card 4 IOT -->
      <div class="col-lg-6">

        <div class="accordion mb-3 shadow-sm" id="accordionIOT">

          <div class="card ">
            <div class="card-header" id="headingIOT">
              <h2>
                <button class="btn btn-link btn-block text-left collapsed technologies " type="button"
                  data-toggle="collapse" data-target="#collapseIOT" aria-expanded="false" aria-controls="collapseIOT">

                  <div class="technology--icon">
                    <i class="fas fa-city"></i>       
                  </div>

                  <h5> IOT </h5>

                  <div class="technologies-chevron-down ">
                    <i class="fa fa-chevron-down "></i>
                  </div>

                </button>
              </h2>
            </div>
            <div id="collapseIOT" class="collapse" aria-labelledby="headingIOT" data-parent="#accordionIOT">
              <div class="card-body">
                <ul class="list-unstyled">
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                </ul>
              </div>
            </div>

          </div>
        </div>


      </div> <!-- card 4 IOT -->




      <!-- card 5 Robotics -->
      <div class="col-lg-6">

        <div class="accordion mb-3 shadow-sm" id="accordionRobotics">

          <div class="card ">
            <div class="card-header" id="headingRobotics">
              <h2>
                <button class="btn btn-link btn-block text-left collapsed technologies " type="button"
                  data-toggle="collapse" data-target="#collapseRobotics" aria-expanded="false"
                  aria-controls="collapseRobotics">

                  <div class="technology--icon">
                    <i class="fas fa-robot"></i>
                  </div>

                  <h5> Robotics </h5>

                  <div class="technologies-chevron-down ">
                    <i class="fa fa-chevron-down "></i>
                  </div>

                </button>
              </h2>
            </div>
            <div id="collapseRobotics" class="collapse" aria-labelledby="headingRobotics"
              data-parent="#accordionRobotics">
              <div class="card-body">
                <ul class="list-unstyled">
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                </ul>
              </div>
            </div>

          </div>
        </div>


      </div> <!-- card 5 Robotics -->



      <!-- card 6 Cloud Computing -->
      <div class="col-lg-6">

        <div class="accordion mb-3 shadow-sm" id="accordionCloud">

          <div class="card ">
            <div class="card-header" id="headingCloud">
              <h2>
                <button class="btn btn-link btn-block text-left collapsed technologies " type="button"
                  data-toggle="collapse" data-target="#collapseCloud" aria-expanded="false"
                  aria-controls="collapseCloud">

                  <div class="technology--icon">
                    <i class="fa fa-cloud "></i>
                  </div>

                  <h5> Cloud Computing </h5>

                  <div class="technologies-chevron-down ">
                    <i class="fa fa-chevron-down "></i>
                  </div>

                </button>
              </h2>
            </div>
            <div id="collapseCloud" class="collapse" aria-labelledby="headingCloud" data-parent="#accordionCloud">
              <div class="card-body">
                <ul class="list-unstyled">
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                </ul>
              </div>
            </div>

          </div>
        </div>


      </div> <!-- card 6 Cloud Computing -->

      <!-- card 7 Biometrics -->
      <div class="col-lg-6">

        <div class="accordion mb-3 shadow-sm" id="accordionBiometrics">

          <div class="card ">
            <div class="card-header" id="headingBiometrics">
              <h2>
                <button class="btn btn-link btn-block text-left collapsed technologies " type="button"
                  data-toggle="collapse" data-target="#collapseBiometrics" aria-expanded="false"
                  aria-controls="collapseBiometrics">

                  <div class="technology--icon">
                    <i class="fab fa-500px"></i>                  
                  </div>

                  <h5> Biometrics </h5>

                  <div class="technologies-chevron-down ">
                    <i class="fa fa-chevron-down "></i>
                  </div>

                </button>
              </h2>
            </div>
            <div id="collapseBiometrics" class="collapse" aria-labelledby="headingBiometrics"
              data-parent="#accordionBiometrics">
              <div class="card-body">
                <ul class="list-unstyled">
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                </ul>
              </div>
            </div>

          </div>
        </div>


      </div> <!-- card 7 Cloud Computing -->

      <!-- card 8 Virtualization -->
      <div class="col-lg-6">

        <div class="accordion mb-3 shadow-sm" id="accordionVirtualization">

          <div class="card ">
            <div class="card-header" id="headingVirtualization">
              <h2>
                <button class="btn btn-link btn-block text-left collapsed technologies " type="button"
                  data-toggle="collapse" data-target="#collapseVirtualization" aria-expanded="false"
                  aria-controls="collapseVirtualization">

                  <div class="technology--icon">
                    <i class="fas fa-vial"></i>
                  </div>

                  <h5> Virtualization </h5>

                  <div class="technologies-chevron-down ">
                    <i class="fa fa-chevron-down "></i>
                  </div>

                </button>
              </h2>
            </div>
            <div id="collapseVirtualization" class="collapse" aria-labelledby="headingVirtualization"
              data-parent="#accordionVirtualization">
              <div class="card-body">
                <ul class="list-unstyled">
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                </ul>
              </div>
            </div>

          </div>
        </div>


      </div> <!-- card 8 Virtualization -->

      <!-- card 9 5G -->
      <div class="col-lg-6">

        <div class="accordion mb-3 shadow-sm" id="accordion5G">

          <div class="card ">
            <div class="card-header" id="heading5G">
              <h2>
                <button class="btn btn-link btn-block text-left collapsed technologies " type="button"
                  data-toggle="collapse" data-target="#collapse5G" aria-expanded="false" aria-controls="collapse5G">

                  <div class="technology--icon">
                    <i class="fa fa-signal" aria-hidden="true"></i>
                  </div>

                  <h5> 5G </h5>

                  <div class="technologies-chevron-down ">
                    <i class="fa fa-chevron-down "></i>
                  </div>

                </button>
              </h2>
            </div>
            <div id="collapse5G" class="collapse" aria-labelledby="heading5G" data-parent="#accordion5G">
              <div class="card-body">
                <ul class="list-unstyled">
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                </ul>
              </div>
            </div>

          </div>
        </div>


      </div> <!-- card 9 5G -->

      <!-- card 10 Sensing & Mobility -->
      <div class="col-lg-6">

        <div class="accordion mb-3 shadow-sm" id="accordionSensing">

          <div class="card ">
            <div class="card-header" id="headingSensing">
              <h2>
                <button class="btn btn-link btn-block text-left collapsed technologies " type="button"
                  data-toggle="collapse" data-target="#collapseSensing" aria-expanded="false"
                  aria-controls="collapseSensing">

                  <div class="technology--icon">
                    <i class="fa fa-microchip" aria-hidden="true"></i>
                  </div>

                  <h5> Sensing & Mobility </h5>

                  <div class="technologies-chevron-down ">
                    <i class="fa fa-chevron-down "></i>
                  </div>

                </button>
              </h2>
            </div>
            <div id="collapseSensing" class="collapse" aria-labelledby="headingSensing" data-parent="#accordionSensing">
              <div class="card-body">
                <ul class="list-unstyled">
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                </ul>
              </div>
            </div>

          </div>
        </div>


      </div> <!-- card 10 Sensing & Mobility -->




    </div><!-- row-->
  </div> <!-- container -->
</section>
