<app-navbar></app-navbar>
<app-breadcrumb></app-breadcrumb>

<div class="sub-pageHeader title-line">
  <h2 class="h1 text-center">
    How it works
  </h2>

</div>


<div class="subPage-body">
  <div class="container">
    <div class="row">

      <!-- start IT Vendors registration -->

      <div class="col-lg-6">
        <figure class="figure vendors-fig">
          <!-- <img src="/assets/images/slide.jpg" class="figure-img img-fluid rounded" alt="IT vendors img"> -->
        </figure>
      </div>

      <div class="col-lg-6 mt-5">
        <h2 class="h1 work-head text-capitalize">IT vendors registration</h2>

        <ul class="sub">

          <li>Marketing teams work continually to invite new “Future Technology” vendors at Tazia platform.</li>

          <li> <strong> Tazia team evaluating new vendors</strong> </li>
          <ul class="sub">
            <li>Company size</li>
            <li>Years of experience</li>
            <li>Technology & services provided.</li>
            <li>Annual revenues.</li>
          </ul>

          <li>Tazia will team will review with the vendor all provided information and confirm them before final
            registration.</li>
        </ul>
      </div>
      <!-- end IT Vendors registration -->




      <!-- start Future Technology Catalogue -->
      <div class="col-lg-6 ">
        <h2 class="h1 work-head text-capitalize">“Future Technology Catalogue” registration</h2>
        <ul class="sub">

          <li>Tazia team build the main structure of “Future Technology Repository” based on four technology levels, to
            facilitate customer exploring and searching in the repository.</li>
          <li>Each vendor is going to update the repository with his solutions/products/services/, so customer can find
            him
            and communicate with him based on his offering.</li>
          <li>Vendors will choose the suitable levels from one to three, they will insert their services on only level
            four.
          </li>
          <li>If the vendor will need to add his solutions on new solutions categories that are not available, he can
            contact
            the administrator who will communicate to help him.</li>
          <li>All vendors provided information will be passed to system manager who will review them, they may need to
            communicate and discuss the best options for the vendor.</li>
        </ul>

      </div>

      <div class="col-lg-6">
        <figure class="figure futureTechnology-fig">
          <!-- <img src="/assets/images/how-it-work/FutureTechnolog.png" class="figure-img img-fluid rounded" alt="IT vendors img"> -->
        </figure>
      </div>

      <!-- End Future Technology Catalogue -->


      <!--start Customers Registration -->
      <div class="col-lg-6">
        <figure class="figure customersRegistration-fig">
          <!-- <img src="/assets/images/slide.jpg" class="figure-img img-fluid rounded" alt="IT vendors img"> -->
        </figure>
      </div>

      <div class="col-lg-6">
        <h2 class="h1 work-head text-capitalize">Customers Registration</h2>
        <ul class="sub">

          <li>Marketing teams work continually to invite new valuable customers at Tazia platform.</li>
          <li> <strong> Tazia team evaluate new customers </strong></li>
          <ul class="sub">
            <li>Validating customer size, minimum 300 users.</li>
            <li>Validating annual revenues last three years, minimum 1M USD.</li>
            <li>Validating contact title, IT executive.</li>
          </ul>

          <li>Any exceptions for above validations, system manager can be contacted to discuss them.</li>
          <li>All customers provided information will be passed to system manager who will review them, they may need to
            communicate and discuss the best options for the customer.</li>
        </ul>
      </div>
      <!--End Customers Registration -->




      <!-- start Customer “Connect Request” Submission -->
      <div class="col-lg-12 mt-5 mb-5 text-center">
        <h2 class="h1 work-head text-capitalize">Customer “Connect Request” Submission</h2>
      </div>

      <div class="col-lg-12">

        <p class="text-center mb-5"> When Customer has specific need, interest, query or investigation for future
          technology and would like to connect with vendors to work with and to receive proper solutions or feedback for
          his requirements.
        </p>

      </div>

      <div class="col-lg-6">
        <ul class="sub">
          <li>Customer explore system technology catalogue and identify his interest solutions.</li>
          <li>Customer open “Customer Connect Request” and choose his interest solutions.</li>
          <li>System automatically search in the “System Catalogue” and find matching vendors.</li>
          <li>Vendor automatically receive “Customer Connect Request” from the system.</li>

        </ul>
      </div>
      <div class="col-lg-6">
        <figure class="figure CustomerContact-box1">
          <!-- <img src="/assets/images/slide.jpg" class="figure-img img-fluid rounded" alt="IT vendors img"> -->
        </figure>
      </div>


      <div class="col-lg-6">
        <figure class="figure CustomerContact-box2">
          <!-- <img src="/assets/images/slide.jpg" class="figure-img img-fluid rounded" alt="IT vendors img"> -->
        </figure>
      </div>
      <div class="col-lg-6 mt-5">
        <p> <strong> Vendor evaluate Customer Connect Request”, synonymously, available information will be</strong></p>

        <ul class="sub">
          <li>Customer size.</li>
          <li>Customer industry sector.</li>
          <li>Customer country.</li>
          <li>Customer revenues.</li>
          <li>Customer solution required.</li>
          <li>Customer requirements summary.</li>
          <li>Requirements expected closing date.</li>
          <li>Requirements status (hot – cold).</li>
        </ul>
      </div>

      <div class="col-lg-6">
        <ul class="sub">
          <li>Vendor decide if he would like to accept this opportunity or not.</li>

          <li> <strong> Customer receive each vendor feedback about his request (accepted or not accepted) and evaluate
              the
              vendor, synonymously, available vendor information would be: </strong></li>
          <ul class="sub">
            <li>Vendor type (Technology Developer or Business partner or Consultant).</li>
            <li>Vendor size (in terms of no of employees).</li>
            <li>Vendor country.</li>
            <li>Vendor experience (establishment date).</li>
            <li>Vendor specialization).</li>
          </ul>
          <li>Customer evaluate vendor feedback (accept not accepted) and decide if he is interested to start working
            with him.</li>
          <li>Customer evaluate vendor feedback (accept not accepted) and decide if he is interested to start working
            with
            him.</li>
        </ul>

      </div>
      <div class="col-lg-6">
        <figure class="figure CustomerContact-box3">
          <!-- <img src="/assets/images/slide.jpg" class="figure-img img-fluid rounded" alt="IT vendors img"> -->
        </figure>
      </div>

      <div class="col-lg-6">
        <figure class="figure CustomerContact-box4">
          <!-- <img src="/assets/images/slide.jpg" class="figure-img img-fluid rounded" alt="IT vendors img"> -->
        </figure>
      </div>


      <div class="col-lg-6 mt-5">

        <strong>Once mutual acceptance occurs, system will</strong>
        <ul class="sub">
          <li>Disclose full customer details to vendor:</li>
          <li>Contact name.</li>
          <li>Contact title.</li>
          <li>Contact email.</li>
          <li>Contact mobile.</li>
          <li>Contact mobile.</li>
          <li><strong> Disclose full contact details to the customer:</strong></li>
          <ul class="sub">
            <li>Vendor contact name.</li>
            <li>Vendor contact title.</li>
            <li>Vendor contact email.</li>
            <li>Vendor contact mobile no.</li>
            <li>Vendor company website</li>
            <li>Vendor company profile.</li>
          </ul>
        </ul>
      </div>


      <div class="col-lg-6 mt-5">
        <ul class="sub">
          <li>Open a chat connection between vendor and customer.</li>
          <li>System would process the payment charges.</li>
        </ul>
      </div>

    </div>

    <!-- End Customer “Connect Request” Submission -->




  </div>
</div>
<app-footer></app-footer>