@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";
.ag-theme-alpine {
    @include ag-theme-alpine();
}
.modal-backdrop{
    z-index: 1029;
}
.Company{
    display: flex;
  
 
    margin-top: 100px;
}
section{
    margin: 1em 0;
}
.sction-title h6{
    color: #F5A71C;
}
